border-color = #ccc
background-color = rgba(240,240,240,0.7)
.github-repo
  font-size 14px
  font-family: Helvetica, Arial, sans-serif
  letter-spacing 1px
  border-radius 5px
  border 1px solid border-color 
  box-shadow 0px 0px 3px #333
  background url(images/Octocat.png) no-repeat right bottom 
  a
    text-decoration none
    &:hover
      text-decoration underline
  .repo-header
    padding 5px 10px
    background background-color 

    .repo-stats
      font-size 12px
      float right
      span
      a
        padding-right 5px
        padding 0 5px 0 25px
        color #000
      .repo-watchers
        background url(images/repostat.png) no-repeat
        background-position 5px -5px
      .repo-forks
        background url(images/repostat.png) no-repeat
        background-position 5px -55px

    .repo-name
      font-size 18px
      letter-spacing 2px
      display block

  .repo-commit
    padding 5px 10px
    .repo-commit-message
      color #000
    .repo-commit-date
      display block
      letter-spacing 0
      font-style italic
      font-size 12px
      color #333
